@model IEnumerable<Identity.Models.TaxiOffer>
@{
    ViewBag.Title = "Все такси";
}

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="DetailsTaxiOffer" asp-controller="Home" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="EditTaxiOffer" asp-controller="Home" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="DeleteTaxiOffer" asp-controller="Home" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>