@using System.Threading.Tasks
@using Identity.Models.ManageViewModels
@model Identity.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Личный профиль";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default">Изменить</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-default">Create</a>
            }
        </dd>
        <dt>Изменить роль :</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangeRole" class="btn btn-default">Изменить</a>
        </dd>
        @if (this.User.IsInRole("admin"))
        {
            <dd>
                <a asp-controller="Manage" asp-action="Requests" class="btn btn-default">Заявки на изменение роли</a>
            </dd> 
        }
        @if (this.User.IsInRole("user"))
        {
            <dd>
                <dt>Мои заказы :</dt><dd><a asp-controller="Order" asp-action="MyOrders" class="btn btn-default">Мои заказы</a></dd>
            </dd>
        }
        @if (this.User.IsInRole("taxi driver"))
        {
            <dd>
                <dt>Мои предложения :</dt><dd><a asp-controller="Offer" asp-action="MyOffers" class="btn btn-default">Получить</a></dd>
                <dt>Клиентские заказы :</dt><dd><a asp-controller="Order" asp-action="MyRequests" class="btn btn-default">Получить</a></dd>
            </dd>
        }

       
    </dl>
</div>
